<h1 class="prod">LISTA DE PRODUCTOS</h1>
{{#each products}}
<div class="prod__wrapper">
    <h2 class="prod__title">{{this.title}}</h2>
    <p class="prod__des">{{this.description}}</p>
    <p class="prod__price">${{this.price}}</p>
    <img class="prod__img" src={{this.thumbnails}} alt="">
</div>
{{/each}}