<form action="/views/send-email" method="POST">
  <p>¿Olvidaste tu contraseña? Ingresa tu email para recuperarla.</p>
  <input type="email" class="form-control" name="email" placeholder="email" id="email" required>
  <button type="submit" class="btn btn-primary btn-block">Recuperar</button>
</form>

