<h2>Registro</h2>

<form action='/users/register' method="post" autocomplete="on">
  Nombre: <input type='text' name='first_name' id='first_name' class="login_label"/></br>
  Apellido: <input type='text' name='last_name' id='last_name' class="login_label"/></br>
  Correo Electrónico: <input type='email' name='email' id='email' class="login_label"/></br>
  Edad: <input type='number' name='age' id='age' class="login_label"/></br>
  Contraseña: <input type='password' name='password' id='password' class="login_label"/></br>
  <input type='submit' value='Crear Cuenta' class="login_input"/>
</form>