.prod{
    font-size: 25px;
    margin: 2rem 0rem 2rem 0rem;
}

.prod__img{
    max-width: 10rem;
    margin-bottom: 2rem;
}

.form__label{
    margin-right: 0.5rem;
}

.login_label{
    margin-bottom: 0.5rem;
}

.login_input{
    margin-top: 0.5rem;
}

